.history-card {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 1fr;
	column-gap: 2rem;
	margin: 2rem 0rem;

	&.img-left {
		.history-card-img {
			grid-column: 1;
			grid-row: 1;
		}

		.history-card-body {
			grid-column: 2;
			grid-row: 1;
		}
	}
}

.history-card-title {
	font-family: Playfair Display;
	font-size: 1rem;
	font-weight: 700;
	line-height: 34px;
	margin-bottom: 1.5rem;
}

.history-card-text {
	font-family: Montserrat;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 30px;
	font-family: Montserrat;
}
