@import '../../../scss//definitions.scss';

.fox-range {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	cursor: pointer;
	outline: none;
	border-radius: 15px;
	height: 9px;
	border: 1px #a0a0a0 solid;
}

/* Thumb: webkit */
.fox-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 30px;
	width: 30px;
	background-color: $orange;
	border-radius: 50%;
	border: none;
}

/* Thumb: Firefox */
.fox-range::-moz-range-thumb {
	height: 30px;
	width: 30px;
	background-color: $orange;
	border-radius: 50%;
	border: none;
}
