$default-color: #d64200;
$gray: #dedfe5;
$light-gray: #efefef;
$red: #eb5757;
$light-red: #ffcbba;
$orange: #ff4f00;
$green: #00ae1c;

// Default
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
	line-height: 1;
	text-rendering: optimizeSpeed;
	font-family: Inter;
	letter-spacing: 0.02em;
	line-height: 22px;
}

ul {
	list-style-position: inside;
}

img {
	display: block;
	max-width: 100%;
}

button {
	border: 0;
	cursor: pointer;
}

// Common
.line-through {
	text-decoration: line-through;
}

.hidden {
	display: none;
}

// Main
.container {
	min-height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-widget {
	min-width: 330px;
	border-radius: 8px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// ToDo header
.todo-header {
	padding: 1rem 1.6rem;
	box-shadow: 0px 1px 2px 0px #dedfe5;
}

.todo-header-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.task-input {
	width: 100%;
	margin-right: 5px;
	padding-left: 1.6rem;

	& input {
		width: 100%;
		height: 100%;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 2rem;
		border: 0;
		outline: none;
	}
}

.add-task-btn {
	padding: 1rem 1.5rem 1rem 2.75rem;
	background-color: $green;
	border-radius: 8px;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 300;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-image: url(../icons/plus.svg);

	&:active {
		background-color: darken($color: $green, $amount: 3);
	}
}

// ToDo list
.todo-list {
	display: flex;
	flex-direction: column;
	padding: 1.6rem;
}

.todo-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	border: 1px $gray solid;
	padding: 1.6rem;
	border-radius: 8px;
	box-shadow: 0px 2px 2px 0px #0000001a;
	transition: background-color 0.15s ease;
	margin-bottom: 1.6rem;

	&:hover {
		background-color: #efefef;
	}
}

.item-text {
	padding: 0 1.6rem;
	width: 68rem;
	font-size: 1.5rem;
	border-left: 1px $gray solid;
	outline: none;
}

.done-mark {
	height: 100%;
	padding-right: 1.6rem;

	& input[type='checkbox'] {
		filter: hue-rotate(240deg);
	}
}

.item-actions {
	display: flex;
	flex-direction: row;
	width: 75px;
	justify-content: space-between;
}

.item-action-btn {
	background-color: transparent;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0.5rem;

	& img {
		width: 1.2rem;
	}
}
