$default-color: #d64200;
$gray: #b8b6bf;
$light-gray: #efefef;
$red: #eb5757;
$light-red: #ffcbba;
$orange: #ff4f00;
$green: #00ae1c;

@mixin max1500 {
	@media (max-width: 1500px) {
		@content;
	}
}

@mixin max1200 {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin max900 {
	@media (max-width: 900px) {
		@content;
	}
}

@mixin max700 {
	@media (max-width: 700px) {
		@content;
	}
}

@mixin max600 {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin max570 {
	@media (max-width: 570px) {
		@content;
	}
}
