:root {
	--color-default: #f8f8f8;
	--el-bg-primary: #fff;
	--text-color: #000;
}

$default-color: #d64200;
$gray: #dedfe5;
$light-gray: #efefef;
$red: #eb5757;
$light-red: #ffcbba;
$orange: #ff4f00;
$green: #00ae1c;

@mixin max1500 {
	@media (max-width: 1500px) {
		@content;
	}
}

@mixin max1200 {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin max900 {
	@media (max-width: 900px) {
		@content;
	}
}

@mixin max700 {
	@media (max-width: 700px) {
		@content;
	}
}

@mixin max600 {
	@media (max-width: 600px) {
		@content;
	}
}

// Default
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 24px;
	height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
	line-height: 1;
	text-rendering: optimizeSpeed;
	font-family: Roboto;
	letter-spacing: 0.02em;
	line-height: 22px;
	background-color: var(--color-default);
}

ul {
	list-style-position: inside;
}

img {
	display: block;
	max-width: 100%;
}

button {
	border: 0;
	cursor: pointer;
}

// Themes
[data-theme='dark'] {
	--color-default: #242424;
	--el-bg-primary: #242424;
	--text-color: #fff;
}

// Common
.border-0 {
	border: none !important;
}

.p-0 {
	padding: 0 !important;
}

.hidden {
	display: none;
}

.justify-end {
	justify-content: end !important;
}

.justify-start {
	justify-content: start !important;
}

// Header
.header {
	padding: 4.5rem;
	padding-bottom: 0;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	row-gap: 2rem;
	align-items: center;

	@include max900 {
		padding: 2rem;
	}

	@include max700 {
		padding: 0.5rem;
	}

	@include max600 {
		grid-template-columns: 100%;
		grid-template-rows: repeat(4, auto);
		row-gap: 0.5rem;
	}
}

.label {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 3rem;
	color: var(--text-color);

	@include max600 {
		text-align: center;
	}
}

.search-form {
	display: flex;
	width: 375px;
	background-color: var(--el-bg-primary);
	border: 1px $light-gray solid;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 3px 5px 0px #0000001f;

	& input[type='text'] {
		color: var(--text-color);
		width: 90%;
		padding: 0.5rem 0.5rem;
		outline: none;
		border: 0;
		font-family: Arial;
		font-size: 0.7rem;
		font-weight: 400;
		line-height: 1rem;
		background-color: transparent;
	}

	@include max600 {
		width: 100%;
	}
}

.btn-search {
	width: 10%;
	background-color: var(--el-bg-primary);
	transition: background-color 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: $light-gray;
	}

	& img {
		width: 75%;
	}
}

// Theme toggle button
.theme-toggle {
	justify-self: end;

	@include max600 {
		grid-row: 1 / 1;
	}
}

.theme-toggle-btn {
	width: 2.5rem;
	height: 1.25rem;
	background-color: #242424;
	border-radius: 100px;
	box-shadow: 0px 3px 5px 0px #0000001f;
	border: 1px $light-gray solid;
	padding: 3px;
	display: flex;
}

.toggle-marker {
	width: 0.9rem;
	height: 0.9rem;
	background-color: $orange;
	border-radius: 50%;
	transition: all 0.15s ease;
	background-image: url(../icons/sunnye-fox.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px 17px;

	&.active {
		transform: translateX(1.25rem);
		background-color: #2400ff;
		background-image: url(../icons/monn-fox.svg);
	}
}

// Region selector
.menu {
	position: relative;
	width: 140px;
	height: 40px;

	@include max600 {
		width: 100%;
	}
}

.menu-toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 0.7rem;
	font-weight: 400;
	line-height: 1px;
	background-color: var(--el-bg-primary);
	padding: 0.75rem 1.25rem;
	border-radius: 10px;
	border: 1px $light-gray solid;
	color: var(--text-color);
	z-index: 10;
	box-shadow: 0px 3px 5px 0px #0000001f;

	&.open .menu-toggle-arrow {
		transform: rotate(180deg);
	}
}

.menu-toggle-arrow {
	display: inline-block;
	width: 12px;
	height: 7px;
	transition: transform 0.15s ease;

	& svg {
		stroke: var(--text-color);
	}
}

.menu-list {
	position: absolute;
	width: 100%;
	top: 1rem;
	font-size: 0.5rem;
	font-weight: 400;
	line-height: 1rem;
	background-color: var(--el-bg-primary);
	padding-top: 0.75rem;
	border-radius: 10px;
	border: 1px $light-gray solid;
	overflow: hidden;
	transition: height 0.15s ease;
	color: var(--text-color);
	box-shadow: 0px 3px 5px 0px #00000007;
}

.menu-item {
	border-top: 1px $light-gray solid;
	cursor: pointer;
	padding: 0.25rem 0.5rem;

	&:hover {
		background-color: $light-gray;
	}

	&:first-child {
		border: 0;
	}
}

// Main
.container {
	padding: 2rem 4.5rem;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: space-between;
	row-gap: 1.5rem;

	@include max1500 {
		grid-template-columns: repeat(3, auto);
	}

	@include max1200 {
		grid-template-columns: repeat(2, auto);
	}

	@include max900 {
		padding: 0.75rem;
		justify-content: space-evenly;
	}
}

// Country Card
.country-card {
	display: flex;
	flex-direction: column;
	width: 300px;
	box-shadow: 0px 4px 29px 0px #00000040;
	border-radius: 10px;
	overflow: hidden;
	align-self: start;

	@include max700 {
		width: 250px;
	}
}

.card-img {
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: -8px;
}

.card-body {
	padding: 0.5rem 1.5rem;
	padding-top: 1.25rem;
	border: 1px $light-gray solid;
	border-top: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: var(--text-color);
}

.country-name {
	font-size: 0.7rem;
	font-weight: 600;
	line-height: 1.25rem;
}

.stat-title {
	font-size: 0.58rem;
	font-weight: 500;
	line-height: 1rem;
}

.stat-value {
	font-size: 0.58rem;
	font-weight: 400;
	line-height: 1rem;
}
