@import '../../../scss/definitions.scss';

.items {
	display: flex;
	flex-direction: row;
	padding: 2rem 0;
}

.items-filter {
	padding-right: 1rem;
	min-width: 200px;
	width: 30%;
}

.item-list {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 2.25rem;
	row-gap: 2rem;
}
